body {
    height: 100vh;
}


header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 28px 30px;
    gap: 60%;
    height: 20px;

    color: white;
    background-color:#383a41;
}

h1 {
    font-size: 1.4rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif, 'Arial Narrow', Arial, sans-serif, 'Arial Narrow', Arial, sans-serif, Times, serif, Geneva, Tahoma, sans-serif, Haettenschweiler, 'Arial Narrow Bold', sans-serif, Cochin, Georgia, Times, 'Times New Roman', serif, Helvetica, sans-serif, 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, Times, serif, Tahoma, Geneva, Verdana, sans-serif, 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, 'Arial Narrow', Arial, sans-serif;
}

a{
    text-decoration: none;
    color: white;
}

nav {
    font-size: 0.75rem;
}

.menu{
    display: none;
}

.profile {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;

    padding: 5%;

    background-color: rgb(116, 114, 114);
}

.profile-picture{
    border-radius: 50%;
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.5));
}

.about {
    width: 50%;
    margin: 0;

    font-size: 1rem;

    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

p {
    font-size: 0.8rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.lists{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 50px;
    padding: 50px;
    height: 200px;

    color: white;
    font-size: 1rem;
}

.hobbies {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 15px;
}

.titulo-hobbie {
    color: #161616;
    align-self: flex-end;
    font-weight: bolder;
    font-size: 1.2rem;
}

.hobbies > ul {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    font-size: 0.7em;
    gap: 10px;
}

.top-five {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.titulo-top5 {
    color: #161616;
    align-self: flex-start;
    font-weight: bolder;
    font-size: 1.2rem;
}

.top-five > ol {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.7em;
    gap: 10px;

    counter-reset: mynum;
}

li.position:before{
    content: counter(mynum) "";
    counter-increment: mynum;
    font-weight: bold;

    display: flex;
    align-self: flex-start;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 17px 17px 10px 17px;

    width: 20px;
    height: 50px;

    background: #DFDFDF;
    border-radius: 5px;
    background-color:#383a41;
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 1));
}

.card:hover {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    width: 100px;
    height: 100px;

    background-color:#383a41;
    box-shadow: 5px 5px black;
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 1));
    font-size: 1.3rem;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    gap: 60%;

    background-color:#383a41;
}

.social-medias {
    width: 20%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.contact {
    color: white;
    font-size: 0.60rem;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 90px;
    height: 20px;

    font-family: Arial, Helvetica, sans-serif, 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, Haettenschweiler, 'Arial Narrow Bold', sans-serif, Tahoma, Geneva, Verdana, sans-serif, Helvetica, sans-serif;
    background: #161616;
}

.contact:hover{
    background-color: rgb(116, 114, 114);
}

@media only screen and (max-width: 700px) {
    .profile {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5%;
    
        padding: 5%;
    }

    .lists {
        display: flex;
        flex-direction: column;
        gap: 50px;
        padding: 50px;
        height: 600px;
    }

    .titulo-hobbie {
        align-self: flex-start;
    }

    .hobbies > ul {
        display: flex;
        flex-flow: row-reverse wrap;
    }

    .top-five > ol {
        display: flex;
        flex-flow: row wrap;
    }

    footer {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        padding: 5px;
        gap: 20%;
        height: 80px;
    }

    .social-medias {
        gap: 15px;
    }
}